$("#modal-header").html("Create Team");
$("#modal-body").html("<%= j (render 'new') %>");
$("#modal-footer").html("<button type='submit' form='team-form' value='Submit' class='btn btn-primary'>Create</button>");

$("#modal-form").modal();