<div class="container mt-4 mb-4">
    <div class="jumbotron">
        <div class="row text-white text-special">
            <h2 class="text-white m-2 d-inline">User Profile</h2>
            <ul>
              <li>
                Username: <%= @user.username %>
              </li>
              <li>
                IC Number: <%= @user.identity_number %>
              </li>
              <li>
                Phone Number: <%= @user.phone_number %>
              </li>
              <li>
                Match Predicted: <%= @user.match_predictions.count %>
              </li>
            </ul>
        </div>
    </div>

</div>