  <main class="profile-page">
    <section class="section-profile-cover section-shaped my-0">
    </section>
    <section class="section">
      <div class="container" id="profile">
        <%= render partial: 'profile' %>
      </div>
    </section>
  </main>
