<% @tournaments.each do |t| %>
<div class="col-md-12">
    <div class="jumbotron mx-auto">
        <div class="row justify-content-center">
            <h6 class="text-white d-block text-uppercase mx-auto shadow mt-2 mb-2">
                Select Your Game and Predict Your Result
            </h6>
        </div>

        <% @users = t.match_predictions.users %>
        <table id="Score-table" class="table table-sm table-responsive-lg table-striped table-dark" style="font-size:0.8rem">
            <thead class="bg-dark text-white">
                <tr>
                <th>User</th>
                <th>Game Participated</th>
                <th>Total Score</th>
                </tr>
            </thead>

            <tbody class="text-black">
                <tr>
                    <td>xxx</td>
                </tr>
                <% end %>
            </tbody>
        </table>

    </div>
</div>
<% end %>









