<div class="container mt-4 mb-4">
    <div class="jumbotron">
        <div class="row justify-content-center text-special">
            <h2 class="text-white">How To Win Prize?</h2>
        </div>
        <div class="row justify-content-center text-special p-4">
            <ul>
                <li>
                    <span class="badge badge-info">Step 1 </span> You must Signed Up Account for Pickemd2 and Completed Payment Verification Process.
                </li>
                <li>
                    <span class="badge badge-info">Step 2</span> Predict 5 questions per match for all matches in the published Tournament.
                </li>
                <li>
                    <span class="badge badge-info">Step 3</span> Each correct prediction to earn 1 point and Player accumulated most point throughout the Tournament will win the prize accordingly!
                </li>
                <li>
                    <span class="badge badge-info">Step 4</span> Player must complete all predictions 60 minutes prior to official per match time to avoid any complications.
                </li>
                <li>
                    <span class="badge badge-info">Step 5</span> Once the tournament is ended and when the top scorers are finalized, our Admin will contact winner for awarding the prize!
                </li>
                <li>
                    <span class="badge badge-info">Step 6</span> Please do not hesitate to contact via whatsapp to admin contact or email to us.
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container mt-4 mb-4">
    <div class="jumbotron">
        <div class="row justify-content-center text-special">
            <h2 class="text-white">How To Regiester as Member?</h2>
        </div>
        <div class="row justify-content-center text-special p-4">
            <ul>
                <li>
                    <span class="badge badge-info">Step 1 </span> Sign Up as our Member
                </li>
                <li>
                    <span class="badge badge-info">Step 2</span> Proceed with Payment and Contact Admin for Verification
                </li>
                <li>
                    <span class="badge badge-info">Step 3</span> Sign In and start to predict away any match that available!
                </li>
                
            </ul>
            <p>* Payment is RM 200 per account for each Tournament.</p>
            <p>* Do not hesitate to contact whatsapp provided for further assistance.</p>
        </div>
    </div>
</div>