<div class="container mt-4 mb-4">
    <div class="jumbotron">
        <div class="row justify-content-center text-special">
            <h2 class="text-white">Game Info</h2>
        </div>
        <div class="row justify-content-center text-special p-4">
            <ul>
                <li class="badge badge-info">
                    1. Answers to questions must be completed within 30 minutes prior to official match time.
                </li>
                <li class="badge badge-info">2. Complete all predictions 60 minutes prior to official match time to avoid any
complications</li>
                <li class="badge badge-info">3. Player with most points accumulated throughout the published Tournament
will win prize!!!</li>
                <li class="badge badge-info">4. Account will only be activated upon verification with payment made to bank
details provided</li>
                <li class="badge badge-info">5. Please do not hesitate to contact via whatsapp to admin contact or email to us</li>
                <li class="badge badge-info">6. We will try our best to assist you with smooth flow of pick-ems for customers to
enjoy!</li>
                <li class="badge badge-info">7. Check all predictions, 2 hours (120 minutes) prior to official match timing.</li>
                <li class="badge badge-info">8. For any inquiries on tabulation of points</li>
            </ul>
        </div>
    </div>
</div>

<div class="container mt-4 mb-4">
    <div class="jumbotron">
        <div class="row justify-content-center text-special">
            <h2 class="text-white">Registration Fees</h2>
        </div>
        <div class="row justify-content-center text-special p-4">
            <ul>
                <li>RM 200 each account</li>
                <li>Verify with admin upon payment submission to activate account and predict away!</li>
                <li>Do not hesitate to contact whatsapp provided for further assistance</li>
            </ul>
        </div>
    </div>
</div>

<div class="container mt-4 mb-4">
    <div class="jumbotron">
        <div class="row justify-content-center text-special">
            <h2 class="text-white">Prize Distribution</h2>
        </div>
        <div class="row justify-content-center text-special p-4">
            <ul>
                <li>First Prize: RM5500</li>
                <li>Second Prize: RM2500</li>
                <li>Third Prize: RM1250</li>
                <li>Forth Prize: RM 750</li>
                <li>Fifth Prize: RM 500</li>
                <li>Fifth Prize: RM 500</li>
            </ul>
        </div>
    </div>
</div>