<div class="container mt-4 mb-4">
    <div class="row">
        <!-- Section Left -->
        <div class="col-md-12">
            <div class="jumbotron mx-auto">
                <% if current_user.approval %>
                    <%= render partial: 'tournaments/brackets' %>
                <% else %>
                    <%= render partial: 'approval' %>
                <% end %>
            </div>
        </div>
    </div>
</div>


<script>

loadjs();

function loadjs() {
  $(document).ready(function() {
    $('#data-table').DataTable({
      "order": [],
      "search": {
        "caseInsensitive": true
      }
    });
  });
};

</script>