<div class="container mt-4 mb-4">
    <div class="jumbotron">
        <div class="row justify-content-center text-special">
            <h2 class="text-white">Prize Allocation</h2>
        </div>
        <div class="row justify-content-center text-special p-4">
            <ul>
                <li>First Prize: RM3600</li>
                <li>Second Prize: RM1800</li>
                <li>Third Prize: RM1000</li>
                <li>Forth Prize: RM 850</li>
                <li>Fifth Prize: RM 750</li>
            </ul>
        </div>
    </div>
</div>

<div class="col-md-12 mt-4 mb-4">
  <div class="jumbotron mx-auto">
    <div class="row justify-content-center mt-4">
      <div class="col-lg-10 text-center text-special" id="slogan">
        <div class="row">
          <div class="col-md-8 mx-auto">
            <p>To Contact Our Admin:</p>
            <p>Whatsapp: +6<%= User.first.phone_number %> <span style="color:grey;">OR</span> Email: <%= User.first.email %></p>
            <p>Banking Details:</p>
            <p>Bank: <span class="info badge-secondary">Maybank Berhad</span></p>
            <p>Name: <span class="info badge-secondary">Little Mary Lamb House</span></p>
            <p>A/C No: <span class="info badge-secondary">512781083046</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>