<div class="container mt-4 mb-4">
    <div class="jumbotron">
        <div class="row justify-content-center">
            <%= image_tag("brand/cqm.jpg", style: "width:80%;height:80%") %>
            <p class="lead">Predict and Answer Most Questions Correctly to Win The Cash Prizes!</p>
            <p>Prize 1</p>
            <p>Prize 2</p>
            <p>Prize 3</p>
            <hr class="my-4">
        </div>
    </div>
</div>