<div class="container mt-4 mb-4">
    <div class="jumbotron">
        <div class="row justify-content-center text-white text-special">
            
            <h2 class="text-white m-2">Malaysia Pick-Em ( ChongQing Majors )</h2>
            <h6 class="text-white m-2">Predict and Answer Most Questions Correctly to Win The Cash Prizes!</h6>
            <br><br><br>
            <ol>
                <li>
                    <p>Top 12 participants to win cash prizes and Arcanas (Guaranteed cash prizes up to RM10,000)</p>
                </li>
                <li>
                    <p>Predict 5 answers to 5 differents questions of each game from playoffs of Chong Qing majors</p>
                </li>
                <li>
                    <p>Track your progress in the competition and score highest points to win!</p>
                </li>
            </ol>
            <%= image_tag("brand/cqm.jpg", style: "width:80%;height:80%") %>

        </div>
    </div>
</div>

<div class="col-md-12">
  <div class="jumbotron mx-auto">
    <div class="row justify-content-center mt-4">
      <div class="col-lg-10 text-center text-special" id="slogan">
        <div class="row">
          <div class="col-md-8 mx-auto">
            <p>To Contact Our Admin:</p>
            <p>Whatsapp: +6<%= User.first.phone_number %> <span style="color:grey;">OR</span> Email: <%= User.first.email %></p>
            <p>Banking Details:</p>
            <p>Bank: <span class="info badge-secondary">Maybank Berhad</span></p>
            <p>Name: <span class="info badge-secondary">Little Mary Lamb House</span></p>
            <p>A/C No: <span class="info badge-secondary">512781083046</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>