<div class="container mt-4 mb-4">
    <div class="jumbotron">
        <div class="row justify-content-center text-white text-special">
            <h2 class="text-white m-2">What Are We?</h2>
            <ol>
                <li>
                    <p>This game was created by an enthusiastic gamer, for gamers to test their predicting skills.</p>
                </li>
                <li>
                    <p>Points will be awarded to the player based on their answers. Player that has gathered most points will be rewarded, after all matches have been completed.</p>
                </li>
            </ol>
        </div>
    </div>
</div>

<div class="container mt-4 mb-4">
    <div class="jumbotron">
        <div class="row justify-content-center text-white text-special">
            <h2 class="text-white m-2">Why?</h2>
            <ol>
                <li>
                    <p>Idea was created for gamers to be able to spectate the games with friends & to create a unique experience for players to enjoy whilst having fun!</p>
                </li>
            </ol>
        </div>
    </div>
</div>

<div class="container mt-4 mb-4">
    <div class="jumbotron">
        <div class="row justify-content-center text-white text-special">
            <h2 class="text-white m-2">How?</h2>
            <ol>
                <li>
                    <p>Account will be activated upon confirmation of payment. Please do not hesitate to contact admin for any inquiries.</p>
                </li>
                <li>
                    <p>Anyone is eligble to register & participate to compete for the grand prize!</p>
                </li>
                <li>
                    <p>Admins will not be held responsible for any questions left unanswered. We advise all players to complete their answers & to double check 60minutes prior to match time to avoid any problems.</p>
                </li>
                <li>
                    <p>Each game along with the rewards, will evolve over time, based on feedback recieved from players, in order to create best pick-em ever created! We hope to receive more feedback from the community.</p>
                </li>
            </ol>
        </div>
    </div>
</div>

<div class="col-md-12">
  <div class="jumbotron mx-auto">
    <div class="row justify-content-center mt-4">
      <div class="col-lg-10 text-center text-special" id="slogan">
        <div class="row">
          <div class="col-md-8 mx-auto">
            <p>To Contact Our Admin:</p>
            <p>Whatsapp: +6<%= User.first.phone_number %> <span style="color:grey;">OR</span> Email: <%= User.first.email %></p>
            <p>Banking Details:</p>
            <p>Bank: <span class="info badge-secondary">Maybank Berhad</span></p>
            <p>Name: <span class="info badge-secondary">Little Mary Lamb House</span></p>
            <p>A/C No: <span class="info badge-secondary">512781083046</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>