<div class="col-md-12 mt-4 mb-4">
  <div class="jumbotron mx-auto">
    <div class="row justify-content-center text-special">
      <h2 class="text-white">Admin Info</h2>
    </div>
    <div class="row justify-content-center mt-4">
      <div class="col-lg-10 text-center text-special" id="slogan">
        <div class="row">
          <div class="col-md-8 mx-auto">
            <p>To Contact Our Admin:</p>
            <p>Whatsapp: TBA <span style="color:grey;">OR</span> Email: <%= User.first.email %></p>
            <p>Banking Details:</p>
            <p>Bank: <span class="info badge-secondary">Maybank Berhad</span></p>
            <p>Name: <span class="info badge-secondary">Little Mary Lamb House</span></p>
            <p>A/C No: <span class="info badge-secondary">5127 - 8108 - 3046</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>