<div class="container mt-4 mb-4">
    <div class="row">

        <!-- Section Left -->
        <div class="col-md-12">
            <div class="jumbotron">
                <%= image_tag("brand/klmajor.png", class: "mr-2", style: "width:50%;") %>
                <h1 class="display-4 mt-4">Prize</h1>
                <p>Prize 1</p>
                <p>Prize 2</p>
                <p>Prize 3</p>
                <hr class="my-4">
                <p class="lead">Predict and Answer Most Questions Correctly to Win The Cash Prizes!</p>
            </div>
        </div>

    </div>
</div>