<% @matches.each do |m| %>
    <div class="col-lg-4 mb-3">
        <div class="card shadow border-0">
            <div class="card-body py-5">
                <h6 class="text-primary text-uppercase"><%= m.description %></h6>
                <p class="description mt-3">Argon is a great free UI package based on Bootstrap 4 that includes the most important components and features.</p>
                <span class="badge badge-pill badge-primary">design</span>
                <span class="badge badge-pill badge-primary">system</span>
                <span class="badge badge-pill badge-primary">creative</span>
                <a href="#" class="btn btn-primary mt-4">Predict</a>
            </div>
        </div>
    </div>
<% end %>





