$("#modal-header").html("Edit Match");
$("#modal-body").html("<%= j (render 'edit') %>");
$("#modal-footer").html("<button type='submit' form='match-form' value='Submit' class='btn btn-primary'>Update</button>");
$("#modal-form").modal();