$("#modal-header").html("Set Question");
$("#modal-body").html("<%= j (render 'question') %>");
$("#modal-footer").html("<button type='submit' form='match-form' value='Submit' class='btn btn-primary'>Set</button>");
$("#modal-form").modal();