<p>Thank You for Your Submission!</p>
<ul>
    <li>Remember That You can Edit the Question 2 days before the match.</li>
    <li>Remember That You can Edit the Question 2 days before the match.</li>
    <li>Good Luck for Your Prediction!!!</li>
</ul>