<p>Your Prediction Has Been Submitted</p>
<ul>
    <li>Prediction will only opened 60min BEFORE and UNTIL the match is started.</li>
    <li>You can change your selection as many times as possible between the windows is closed.</li>
</ul>