$('#flash-message').html("<%= j (render 'statics/message') %>");

<% if @valid %>
$("#modal-header").html("Please Answer the Questions");
$("#modal-body").html("<%= j (render 'edit') %>");
$("#modal-footer").html("<button type='submit' form='match-prediction-form' value='Submit' class='btn btn-primary'>Submit</button>");
$("#modal-form").modal();
<% end %>